fastapi>=0.100.0
uvicorn>=0.22.0
sqlalchemy>=1.4.0
psycopg2-binary>=2.9.0
pydantic>=2.0.0
langchain>=0.2.0
langchain-community>=0.2.0
langchain-openai>=0.1.0
sentence-transformers>=2.2.2
python-multipart>=0.0.9
torch --index-url https://download.pytorch.org/PR/whl/cpu
